.review-tile-container {
  grid-column-start: 2;
  grid-column-end: 4;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(5, minmax(25px, auto));
  grid-auto-rows: auto;
}
.review-tile-rating {
  font-size: .7rem;
    color: rgb(0, 0, 0);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    max-height: min-content;
    padding: 5px;
    display: flex;
    flex-direction: row;
}
.review-tile-summary {
  font-size: 1.17em;
  font-weight: bold;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  max-height: fit-content;
  padding: 5px;
}
.review-tile-body {
  font-size: .9rem;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  padding: 5px;
  max-height: 100px;
  overflow: auto;
}
