.related-products {
  width: auto;
  height: 80vh;
}

.rc-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.rc-wrapper {
  display: flex;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.carousel-content.show-3 {
  display: flex;
  width: 32%;
  transition: all 250ms linear;
  -ms-overflow-style: none;
  flex-shrink: 0;
  flex-grow: 1;
}

.card {
  cursor: pointer;
  width: 20rem;
  height: 33vh;
  padding: 12;
}

.related-arrow-left, .related-arrow-right {
  position: absolute;
  top: 40%;
  font-size: 2rem;
  color: #000;
  z-index: 1;
  cursor: pointer;
  user-select: none;
  color: white;
}

.related-arrow-left {
  left: 25px;
}

.related-arrow-right {
  right: 25px;
}

.thumbnail {
  text-align: right;
  height: 20vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.star-container {
  position: relative;
}

.star-image {
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4;
}

.star-button {
  position: absolute;
  cursor: pointer;
  left: 80%;
  padding: 5%;
  background: none;
}

.button-style {
  cursor: pointer;
  border: none;
  background: none;
  background-color: none;
}

.details {
  padding: 15 0 0 5;
  text-align: left;
  height: fit-content;
  border: 1px solid black;
}

.text {
  padding: 10;
  font-size: large;
  font-weight: bold;
}

.price {
  font-size: smaller;
  padding: 10;
}

.text::after {
  content: '\A';
  white-space: pre-line;
}

.price::after {
  content: '\A';
  white-space: pre-line;
}

.rating {
  padding: 0 0 0 10;
}

.modal {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.25s, ease-in-out;
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  text-align: justify;
  padding: 10;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 750px;
  border-radius: 0.5rem;
}

.modalTable {
  width: 100%;
  table-layout: auto;
  text-align: center;
  padding: 10;
}

.close-button {
  float: right;
}

.close-button::hover {
  background-color: gray;
}

td {
  text-align: center;
  width: 33%;
}

.productName {
  font-weight: bold;
  font-size: large;
}