.related-products {
  width: auto;
  height: 40%;
  padding: 5 5;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: auto;
  height: 80%;
  overflow-x: auto;
}

.card {
  border: 1px solid black;
  width: 25%;
  height: 98%;
  flex: 0 0 auto;
  margin: 0 20 0 0;
}

.thumbnail {
  text-align: right;
  height: 65%;
  background-color: lightgray;
}

.star-button {
  padding: 5%;
  background: none;
}

.button-style {
  border: none;
  background: none;
  background-color: none;
}

.details {
  padding: 5;
  text-align: left;
  height: 30%;
}

.text {
  padding: 10;
}

.text::after {
  content: '\A';
  white-space: pre-line;
}

.modal {
  width: 500px;
  background: white;
  border: 1px solid #ccc;
  transition: 0.5s ease-out;
  box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
  filter: blur(1);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  text-align: justify;
}