.rr-title {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}

.rr-widget-container {
  display: grid;
  column-gap: 20px;
  align-items: start;
  width: auto;
  height: auto;
  grid-template-columns: 210px auto;
  grid-template-rows: 20px 250px auto;
  margin-top: 20px;
}

.reviews-list {
  grid-column-start: 2;
  grid-column-end: 4;
  max-height: 550px;
  min-height: auto;
  overflow: auto;
}