
/* Questions and Answers */

.questions-answers {
  border: 1px solid white;
  margin: 5px 10%;
  max-height: 75vh;
  font-family: "helvetica";
}

.flex-container {
  display: flex;
}

br {
  width: 5px;
}

.qa-search {
  margin: 5px;
  padding: 10px 15px 10px 5px;
  border: 1px solid black;
  justify-content: space-between;
}

.qa-question-list {
  margin: 5px 0;
  overflow-y: scroll;
  max-height: 40vh;
}

.qa-answer-list {
  overflow-y: scroll;
  max-height: 30vh;
}

.qa-question {
  margin: 10px 0;
  background-color: rgb(243, 243, 243);
}

.qa-answer {
  margin: 10px 0;
}

.qa-answers-lma {
  background-color: white;
  font-size: small;
  font-weight: bold;
  margin: 10px 0 5px 20px;
  border: none;
}

.qa-answer-button {
  background-color: white;
  font-size: x-small;
  margin: 5px 20px;
  border: none;
  text-decoration: underline;
}

.qa-more-questions {
  background-color: white;
  border: 1px solid black;
  margin: 5px 5px 0px 0;
  padding: 10px;
}

.qa-add-question {
  background-color: white;
  border: 1px solid black;
  padding: 10px;
}

.qa-answer-metadata {
  margin-left: 25px;
  font-size: small;
}

#qa-title {
  padding: 15px 0 10 0;
}

#qa-search-text {
  width: 95%;
  border: 1px solid white;
}

#qa-search-btn {
  margin-left: 5px;
  border: 1px solid black;
  width: 10%;
}

#qa-q {
  font-size: large;
  font-weight: bold;
  padding-right: 5px;
}

#qa-a {
  font-size: large;
  font-weight: bold;
  padding-right: 5px;
}

#qa-user {
  font-size: small;
  font-weight: normal;
  padding-right: 5px;
}

#qa-helpful {
  font-size: small;
  font-weight:normal;
  padding-left: 5px;
}

#qa-yes {
  font-size: small;
  font-weight:normal;
  padding: 0 2px 0 5px;
  text-decoration: underline;
}

#qa-score {
  font-size: small;
  font-weight:normal;
  padding-right: 5px;
}

#qa-report {
  font-size: small;
  font-weight:normal;
  padding: 0 5px;
  text-decoration: underline;
}

#qa-add-answer {
  font-size: small;
  font-weight:normal;
  padding: 0 5px;
  text-decoration: underline;
}

#qa-question-body {
  font-size: large;
  font-weight: bold;
  padding-top: 1px;
}

#qa-answer-body {
  font-size: medium;
  padding-top: 3px;
}

.qa-question.flex-container {
  justify-content: space-between;
}

.qa-question-right {
  padding-top: 3px;
}

.qa-question-left {
  max-width: 70%;
}

#magnifying-glass {
  padding-left: 10px;
}

.qa-photo {
  width: 100px;
  height: 75px;
  margin: 5px;
  border: 1px solid gray;
}

.qa-photo-container {
  margin: 0 0 5px 3%;
}

/********* MODALS *********/
.qa-modal {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(2 136 209 / 50%);
  transition: opacity 0.25s, transform 0.5s;
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  text-align: justify;
  padding: 10;
}

.qa-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 750px;
  border-radius: 0.5rem;
}

.qa-close-button {
  float: right;
  height: 25px;
  width: 25px;
  text-align: center;
}

.qa-modalTable {
  width: 100%;
  table-layout: auto;
  text-align: left;
  padding: 10;
}

.qa-modal-answer-body {
  width: 95%;
  max-height: 150px;
}

.qa-modal-nick-body {
  width: 95%;
  height: 25px;
}

.qa-modal-photo-body {
  width: 95%;
  height: 25px;
}

.qa-modal-email-body {
  width: 95%;
  height: 25px;
}