#main {

}

#sale-price {
  color: red;
}

#orig-price {
  color: black;
  text-decoration: line-through;
}

.carousel-wrapper {
  /* background-color: gray; */
  /* height: 100%; */
  width: 908px;
  overflow: hidden;
  /* text-align: center; */
}

.carousel {
  transform-style: preserve-3d;
}

.carousel-photo {
  opacity: 0;;
  position: absolute;
  top: 0;
  max-width: 908px;
  max-height: auto;
  z-index: 100;
  transition: transform .5s, opacity .5s, z-index .5s;
}

.carousel-photo.initial,
.carousel-photo.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}

.carousel-photo.prev,
.carousel-photo.next {
  z-index: 800;
}

.carousel-photo.prev {
  transform: translateX(-100%); /* Move 'prev' item to the left */
}

.carousel-photo.next {
  transform: translateX(100%); /* Move 'next' item to the right */
}

.carousel-btn-l,
.carousel-btn-r {
  position: absolute;
  top: 40%;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1001; /* Sit on top of everything */
}

.carousel-btn-l {
  left: 375;
}

.carousel-btn-r {
  right: 825;
}

.carousel-btn-l::after,
.carousel-btn-r::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(135deg);
}

.carousel-btn-r::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

#styles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.style-entry {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
}

.outline {
  border: 1px solid red;
}

.size-dd {
  border: 1px solid black;
  width: 200px;
  padding: 25px;
  color: black;
  cursor: pointer;
}

.size-disabled {
  width: 200px;
  padding: 25px;
}

#quantity-dd {
  border: 1px solid black;
  padding: 25px;
  cursor: pointer;
}

#a2b {
  border: 1px solid black;
  padding: 25px;
  background-color: white;
  cursor: pointer;
}

#image-gallery {

}

#description {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 154px;
  padding-right: 30px;
  border-right: 1px solid black;
}

#features {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 30px;
}

.feature-entry {
  padding-bottom: 10px;
}

a {
  color: black;
}
