#main {

}

.ratings-link {
  margin-left: 20px;
  position: absolute;
  transform: translateY(12px);
}

.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1000;
}

.image-modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.image-modal {
  max-width: 1500px;
  max-height: 800px;
}

.modal-exit {
  position: absolute;
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, .5);
  color: white;
  padding: 5px;
}

.modal-exit:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
}

.slider {
  top: 26px;
  right: 3px;
  position: relative;
  height: 645px;
  display: flex;
  justify-content: center;
}

.images {
  max-height: 600px;
  padding-right: 50px;
  max-width: 825px;
  cursor: zoom-in;
}

.left-arrow {
  color: white;
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  font-size: 2rem;
  top: 40%;
  cursor: pointer;
  left: 180px;
  user-select: none;
  z-index: 1;
}

.right-arrow {
  color: white;
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  font-size: 2rem;
  cursor: pointer;
  top: 40%;
  right: 100px;
  user-select: none;
  z-index: 1;
}

.up-arrow {
  left: 56px;
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, .5);
  font-size: 2rem;
  cursor: pointer;
  z-index: 2;
}

.down-arrow {
  left: 56px;
  top: 510px;
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, .5);
  font-size: 2rem;
  cursor: pointer;
  z-index: 3;
}

.bs-dot-container {
  top: 7%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.bs-dot {
  color: white;
  background-color: rgba(0, 0, 0, .5);
  font-size: 2rem;
}

.bs-dot.selected {
  cursor: pointer;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
}

.bs-dot:hover {
  cursor: pointer;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar {
  display: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

#sale-price {
  color: red;
}

.orig-price {
  color: cornflowerblue;
  text-decoration: line-through;
}

#styles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 400px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.style-entry {
  cursor: pointer;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 1px solid cornflowerblue;
  margin-bottom: 10px;
}

.style-entry.darker {
  border: 1px solid indianred !important;
}

.style-entry.dark {
  border: 1px solid indianred !important;
}

#checkmark-container {
  position: relative;
}

#checkmark {
  left: 55px;
  text-align: center;
  position: absolute;
  border: 1px solid black;
  width: 20px;
  height: 20px;
  background-color: white;
  color: black;
  border-radius: 50%;
}

.size-dd {
  border: 1px solid cornflowerblue;
  width: 350px;
  padding: 25px;
  color: inherit;
  cursor: pointer;
  background-color: inherit;
  margin-bottom: 20px;
  margin-right: 20px;
}

.size-disabled {
  width: 350px;
  border: 1px solid;
  padding: 25px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#quantity-dd {
  border: 1px solid cornflowerblue;
  color: inherit;
  padding: 25px;
  cursor: pointer;
  background-color: inherit;
}

#quantity-disabled {
  padding: 25px;
  border: 1px solid;
}

#a2b {
  border: 1px solid cornflowerblue;
  padding: 25px;
  padding-right: 150px;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 20px;
}

.share-container {
  position: absolute;
  border: 1px solid cornflowerblue;
}

.share {
  padding: 22px;
}

.image-gallery {
  position: absolute;
  top: 50px;
  left: 35px;
  height: 447px;
  overflow-y: hidden;
  z-index: 100;
}

#image-gallery {
  z-index: 100;
}

.expand {
  color: white;
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  font-size: 1.4rem;
  cursor: pointer;
  padding: 5px;
  z-index: 100;
  right: 100px;
}

/* .photo-container {
  cursor: pointer;
}

.photo-container.selected {
  border-bottom: 3px solid black;
} */

.photo-entry {
  display: block;
  width: 75px;
  height: 75px;
  padding-bottom: 4px;
  margin-bottom: 37px;
  border-bottom: 5px solid transparent;
  cursor: pointer;
}

.photo-entry.selected {
  display: block;
  width: 75px;
  height: 75px;
  border-bottom: 5px solid black;
}

#description {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 154px;
  padding-right: 50px;
  border-right: 1px solid cornflowerblue;
}

#features {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 50px;
}

.feature-entry {
  padding-bottom: 10px;
}

a {
  color: inherit;
}
