body {
  width: 80%;
  margin: 0 10%;
}

.navbar {
  border: 1px solid black;
  height: 10%;
}

.overview {
  border: 1px solid black;
  height: 90%;
}

.related-products {
  border: 1px solid black;
  margin: 0 10%;
}

.questions-answers {
  border: 1px solid black;
  margin: 0 10%;
}

.ratings-reviews {
  border: 1px solid black;
  margin: 0 10%;
}

.qa-more-questions {
  border: 1px solid black;
  margin-right: 5px;
}

.qa-add-question {
  border: 1px solid black;
}

#qa-search-text {
  width: 85%;
  border: 1px solid black;
}

#qa-search-btn {
  margin-left: 5px;
  border: 1px solid black;
}