body {
  width: 80%;
  margin: 0 10%;
}

.navbar {
  border: 1px solid black;
  height: 10%;
}

.overview {
  border: 1px solid black;
  height: 90%;
}

.related-products {
  border: 1px solid black;
  margin: 0 10%;
}

.ratings-reviews {
  border: 1px solid black;
  margin: 0 10%;
}

/* Questions and Answers */

.questions-answers {
  border: 1px solid white;
  margin: 0 10%;
}

.qa-search {
  margin: 5px 5px 5px 0;
}

.qa-question-list {
  margin: 5px 0;
}

.qa-question {
  margin: 5px 0;
}

.qa-answer {
  margin: 5px 0;
}

.qa-answers-lma {
  font-size: x-small;
  margin: 5px 20px;
}

.qa-more-questions {
  border: 1px solid black;
  margin: 0px 5px 0px 0;
}

.qa-add-question {
  border: 1px solid black;
}

.qa-answer-metadata {
  margin-left: 20px;
}

#qa-search-text {
  width: 85%;
  border: 1px solid black;
}

#qa-search-btn {
  margin-left: 5px;
  border: 1px solid black;
}