.rating-breakdown {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 70px auto;
  grid-template-rows: 5% 15% 5% 15% 40% 10%;
  justify-content: end;
}
.rating-summary-top {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  font-size: xxx-large;
}
/* .rating-summary-number {
  font-size: 3rem;
  justify-content: right;
} */
.rating-summary-stars {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding-left: 15px;
}
.rating-summary-total {
  /* display: grid;
  grid-template-columns: 1fr 2fr; */
  /* align-items: baseline; */
  justify-items: center;
  font-size: .8rem;
  grid-column: 2 / 3;
  grid-row: 4/ 5;
}
.rating-bars {
  list-style: none;
  margin: 0;
  padding: 0;
  grid-column: 1 / 3;
  grid-row: 5 / 6;
}
.clear-filter {
  font-size: .7rem;
  color: rgb(97, 96, 96);
  cursor: pointer;
}
.bar {
  cursor: pointer;
  margin-bottom: .5em;
  position: relative;
  padding-left: 2.8em;
}
.bar::-webkit-progress-value {
  animation: bar-fill 2s;
  -webkit-animation: bar-fill 2s;
  width: 0px;
}
/* .bar-color {
  background: #33ff2c;
}
.bar-color::-webkit-progress-value {
  background: #33ff2c;
}

.bar-color::-moz-progress-bar {
  background: #33ff2c;
} */
.text-bar {
  text-decoration:underline;
  line-height: 1;
  position: relative;
  top: 1em;
  right: 3.3em;
}
.text-total-amount {
  text-decoration:underline;
  line-height: 1;
  position:absolute;
  top: 1.2em;
  left: 13.2em;
}
.product-breakdown {
  grid-column: 1 / 3;
  grid-row: 6 / 8;
  display: grid;
  justify-content: stretch;
}
.character-bar {
  justify-self: stretch;
  width: 22.5%;
  min-width: 227px;
  background:lightskyblue;
  height: 8px;
  border-radius: 2px;
}
.character-pointer {
  position: relative;
  height: 5px;
  bottom: 1.2rem;
  width: 100%;
  max-width: 100%;
  background: rgba(114, 170, 114, 0);
}